* {
  box-sizing: border-box;
  }
  body{
     
      background-image: url("https://cdn.files.rapidlms.com/view/2d/8d/79/d4/75/fd/f8/d4/87/9a/b8/63/2a/72/c5/de/1600x800%3E/Own-LMS-Hero-background2.jpg");
      background-size: cover;
  }
  img
  {
      width:250px;
      height:250px;
  }
  h1 {
  text-align: center;
  }
  .outer-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  }
  .inner-grid {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  }
  .inner-grid img {
  margin-top: 8px;
  width: 100%;
  padding: 10px;
  }
  #div_tag
  {
     
      margin: 80px 60px 80px 60px ;
      margin-left: 300px;
      align-items: center;
  }
  .image
  {
      padding: 30px;
      opacity: 0.9;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  .image:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
    border-color: antiquewhite;
    opacity: 1.5;
   
   
  }
  header
  {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 300;
      font-size: 60px;
      color: rgb(238, 124, 124);
      border: 5px solid wheat;
      box-shadow: 20px;
      padding: 20px;
      border-color:20px solid blueviolet;
      border-block-end-width: 2px;
    
      opacity: 0.5;
     
     
      
    
   
  }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 20px;
      box-shadow: 20px blueviolet;
      border-color: blueviolet;
      overflow: hidden;
     
     

     
      
     
    }
    
    li {
        
      float: right;
      font-family: Verdana, Geneva, Tahoma, sans-serifs;
        font-size: 20px;
    }
    
    li a {
      display: block;
      color: aliceblue;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      
    }
    
    /* Change the link color to #111 (black) on hover */
    li a:hover {
       color: blanchedalmond;
      -ms-transform: scale(1.2); /* IE 9 */
      -webkit-transform: scale(1.2); /* Safari 3-8 */
      transform: scale(1.2);
      
     
      
    }
    li a.active
    {
        
        color:red;
       
    }
    li a::selection{
        background-color: azure;
        color:black;
    }
   image{
     opacity: 0.5;
   }